{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Gerenciador de tarefas</h1>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'tasks:task_list' %}">Tarefas</a>
                <a href="{% url 'projects:project_list' %}">Projetos</a>
                <a href="{% url 'accounts:logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">Login</a>
                <a href="{% url 'accounts:register' %}">Registrar</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if not message.extra_tags or message.extra_tags != 'members' %}
                    <p class="{% if message.tags == 'success' %}success{% elif message.tags == 'warning' %}warning{% else %}error{% endif %}">{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>