{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Gerenciador de tarefas</h1>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'tasks:task_list' %}">Tarefas</a>
                <a href="{% url 'projects:project_list' %}">Projetos</a>
                <a href="{% url 'accounts:logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">Login</a>
                <a href="{% url 'accounts:register' %}">Registrar</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>